<script>
import axios from 'axios';

export default {
  data() {
    return {
      popularArtists: [] // Pour stocker les artistes populaires
    };
  },
  mounted() {
    // Appeler la méthode pour charger les artistes populaires lors du montage du composant
    this.loadPopularArtists();
  },
  methods: {
    async loadPopularArtists() {
      const POPULAR_ARTISTS_URL = 'https://api.spotify.com/v1/artists/popular'; // URL de l'API pour les artistes populaires
      const accessToken = localStorage.getItem('access_token'); // Récupérer le jeton d'accès depuis le stockage local

      try {
        // Effectuer une requête GET vers l'API Spotify pour les artistes populaires
        const response = await axios.get(POPULAR_ARTISTS_URL, {
          headers: {
            Authorization: `Bearer ${accessToken}` // Ajouter le jeton d'accès dans l'en-tête de la requête
          }
        });

        // Mettre à jour la liste d'artistes populaires avec les résultats de la requête
        this.popularArtists = response.data.artists;
      } catch (error) {
        console.error('Erreur lors du chargement des artistes populaires:', error);
      }
    }
  }
};
</script>

<template>
  <div>
    <h1>À propos de nous</h1>
    <!-- Afficher une liste d'artistes populaires -->
    <div v-if="popularArtists.length">
      <h2>Artistes populaires</h2>
      <ul class="popular-artists-container">
        <li v-for="artist in popularArtists" :key="artist.id" class="popular-artist-item">
          <!-- Lien vers la page de détails de l'artiste -->
          <router-link :to="{ name: 'ArtistDetails', params: { id: artist.id } }">
            <!-- Image de l'artiste -->
            <img v-if="artist.images.length > 0" class="popular-artist-image" :src="artist.images[0].url" :alt="'Image de ' + artist.name">
            <!-- Nom de l'artiste -->
            <p>{{ artist.name }}</p>
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<style>
.popular-artists-container {
  display: flex; /* Pour afficher les éléments en ligne */
  flex-wrap: wrap; /* Permettre le passage à la ligne si nécessaire */
  list-style: none; /* Pour supprimer les puces de la liste */
  padding: 0;
  margin: 0;
}

.popular-artist-item {
  flex: 0 0 calc(33.33% - 20px); /* Pour afficher trois artistes par ligne avec un espace entre eux */
  text-align: center; /* Pour centrer le contenu */
  margin: 10px; /* Ajouter un espace entre les artistes */
}

.popular-artist-image {
  width: 100px; /* Définissez la largeur souhaitée */
  height: 100px; /* Définissez la hauteur souhaitée */
  object-fit: cover; /* Pour que l'image couvre la taille spécifiée */
  border-radius: 50%; /* Pour arrondir les coins de l'image */
}
</style>
