<script>
import axios from 'axios';

export default {
  data() {
    return {
      isLoggedIn: localStorage.getItem('access_token') !== null
    };
  },
  methods: {
    async authorize() {
      const authorizationUrl = this.getAuthorizationUrl();
      window.location.href = authorizationUrl;
    },
    getAuthorizationUrl() {
      const CLIENT_ID = 'c9e42a3815b04f79b03c65e227dc2f39';
      const REDIRECT_URI = 'http://localhost:5173';
      const SCOPE = 'user-read-private user-read-email';
      const AUTH_URL = 'https://accounts.spotify.com/authorize';

      const params = new URLSearchParams({
        client_id: CLIENT_ID,
        response_type: 'code',
        redirect_uri: REDIRECT_URI,
        scope: SCOPE
      });

      return `${AUTH_URL}?${params.toString()}`;
    },
    async exchangeCodeForToken(code) {
      const TOKEN_URL = 'https://accounts.spotify.com/api/token';
      const CLIENT_ID = 'c9e42a3815b04f79b03c65e227dc2f39';
      const CLIENT_SECRET = 'a42fd94226f34d2d8cea396f451caa39';
      const REDIRECT_URI = 'http://localhost:5173';

      const data = new URLSearchParams({
        grant_type: 'authorization_code',
        code: code,
        redirect_uri: REDIRECT_URI,
        client_id: CLIENT_ID,
        client_secret: CLIENT_SECRET
      });

      try {
        const response = await axios.post(TOKEN_URL, data);
        const accessToken = response.data.access_token;
        localStorage.setItem('access_token', accessToken);
        return accessToken;
      } catch (error) {
        console.error('Erreur lors de l\'échange du code d\'autorisation:', error);
        throw error;
      }
    }
  },
  async mounted() {
    const url = window.location.href;
    const codeIndex = url.indexOf('?code=');

    if (codeIndex !== -1) {
      const code = url.substring(codeIndex + 6);

      try {
        const token = await this.exchangeCodeForToken(code);
        console.log('Jeton d\'accès reçu:', token);
        // Rediriger vers une autre page ou effectuer d'autres actions une fois connecté
      } catch (error) {
        console.error('Une erreur est survenue lors de l\'échange du code d\'autorisation:', error);
      }
    }
  }
}
</script>

<template>
  <main>
    <div v-if="!isLoggedIn">
      <button @click="authorize">Autoriser l'application</button>
    </div>
    <div v-else>
      <p>Vous êtes connecté avec succès!</p>
    </div>
  </main>
</template>
