<script>
import axios from 'axios';

export default {
  data() {
    return {
      searchQuery: '', // Pour stocker la valeur de la recherche
      artists: [] // Pour stocker les artistes
    };
  },
  methods: {
    async search() {
      const SEARCH_URL = 'https://api.spotify.com/v1/search'; // URL de l'API Spotify
      const accessToken = localStorage.getItem('access_token'); // Récupérer le jeton d'accès depuis le stockage local

      try {
        // Effectuer une requête GET vers l'API Spotify avec les paramètres de recherche
        const response = await axios.get(SEARCH_URL, {
          headers: {
            Authorization: `Bearer ${accessToken}` // Ajouter le jeton d'accès dans l'en-tête de la requête
          },
          params: {
            q: this.searchQuery, // Utiliser la valeur de la recherche
            type: 'artist' // Rechercher uniquement des artistes
          }
        });

        // Mettre à jour la liste d'artistes avec les résultats de la recherche
        this.artists = response.data.artists.items;
      } catch (error) {
        console.error('Erreur lors de la recherche d\'artistes:', error);
      }
    }
  }
};
</script>

<template>
  <div>
    <!-- Barre de recherche -->
    <input type="text" v-model="searchQuery" @input="search" placeholder="Rechercher un artiste...">

    <!-- Liste des artistes -->
    <div v-if="artists.length">
      <h2>Artistes</h2>
      <ul class="artist-container">
        <li v-for="artist in artists" :key="artist.id" class="artist-item">
          <!-- Lien vers la page de détails de l'artiste -->
          <router-link :to="{ name: 'ArtistDetails', params: { id: artist.id } }">
            <!-- Image de l'artiste -->
            <img v-if="artist.images.length > 0" class="artist-image" :src="artist.images[0].url" :alt="'Image de ' + artist.name">
            <!-- Nom de l'artiste -->
            <p>{{ artist.name }}</p>
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<style scoped>
.artist-container {
  display: flex; /* Pour afficher les éléments en ligne */
  overflow-x: auto; /* Activer le défilement horizontal en cas de dépassement */
  list-style: none; /* Pour supprimer les puces de la liste */
  padding: 0;
  margin: 0;
  white-space: nowrap; /* Empêcher le passage à la ligne */
}

.artist-item {
  flex: 0 0 auto; /* Ne pas permettre aux éléments de changer de taille */
  text-align: center; /* Pour centrer le contenu */
  margin-right: 20px; /* Pour ajouter un espace entre les éléments */
}

.artist-image {
  width: 100px; /* Définissez la largeur souhaitée */
  height: 100px; /* Définissez la hauteur souhaitée */
  object-fit: cover; /* Pour que l'image couvre la taille spécifiée */
  border-radius: 50%; /* Pour arrondir les coins de l'image */
}
</style>