<script>
export default {
  mounted() {
    const artistId = this.$route.params.id;
    // Utiliser artistId pour charger les détails de l'artiste correspondant depuis l'API
  }
};
</script>

<template>
  <div>
    <h2>Détails de l'artiste</h2>
    <div>
      <!-- Afficher les détails de l'artiste en fonction de l'ID -->
    </div>
  </div>
</template>

<style scoped>

</style>