<script setup>

</script>

<template>
  <nav>
    <ul>
      <li><router-link to="/">Accueil</router-link></li>
      <li><router-link to="/about">À propos</router-link></li>
      <li><router-link to="/search">rechercher</router-link></li>
      <!-- Ajoutez d'autres liens de route selon vos besoins -->
    </ul>
  </nav>
</template>

<style scoped>
/* Styles pour votre composant Navbar */


nav a {
  display: block;
  margin-bottom: 1rem;
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  color: #000;
}
</style>