<script setup>
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'
import Navbar from "@/components/Navbar.vue";
</script>

<template>
  <div id="app">
    <header>
      <Navbar />
    </header>

    <main style="padding-left: 25%;"> <!-- Ajoutez une marge à gauche égale à la largeur de la barre de navigation -->
      <div class="router-view-container">
        <RouterView />
      </div>
    </main>
  </div>
</template>

<style scoped>
header {
  display: flex;
}



/* Styles spécifiques à la barre de navigation */
nav {
  width: 25%; /* Un quart de la largeur de la page */
  min-width: 200px; /* Largeur minimale pour éviter que la barre ne devienne trop petite */
  background-color: #1e1e1e;
  padding: 1rem;
  position: fixed; /* Fixer la barre de navigation à gauche */
  left: 0; /* Positionner la barre de navigation tout à gauche */
  top: 0; /* Positionner la barre de navigation au sommet de la page */
  height: 100vh; /* Hauteur égale à la hauteur de la fenêtre */
}

</style>
